{{> head}}

<body>
	{{> navbar}}
	<div class="container">
		{{{body}}}
	</div>
	<div style="text-align:center">Добавить запись <button class="btn btn-small" id='btn-add' >+</button></div>
	<div id="insert-window" class="d-none">
		<textarea name="tascks" maxlength="150" wrap="hard"
			oninput="document.querySelector('#coun_letters').innerText=150-this.value.length;  this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
			placeholder="Чтобы создать сразу несколько записей записывайте их с новой строки." required minlength="1"></textarea>
		<div class="container"><span id=coun_letters>150</span><div><button class="btn btn-small">SAVE</button>&nbsp;<button class="btn btn-small" id='btn-cancel'>CANCEL</button></div></div>
	</div>
</body>

</html>